/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as *;

.btn-primary:hover{
    background-color: #fff !important;
    color: blue !important;
}
.btn-danger:hover{
    background-color: #fff !important;
    color: red !important;
}